{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}

<a href="{% url 'detalleservicios-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a>

<div class="card fondcard m-5">
  <h3 class="text-center m-2">Detalle De servicios</h3>
  <div class="card-body">
            <table id="example2" class="table table-striped" style="width:100%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre Servicio</th>
                  <th>Tipo Servicio</th>
                  <th>Duracion</th>
                  <th>Costo Servicio</th>
                  <th>Descripcion</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for detalle_servicio in detalleservicios %}
                  {% if detalle_servicio.estado != "0" %}
                    <tr>
                      <td>{{ detalle_servicio.id }}</td>
                      <td>{{ detalle_servicio.nombreservicio }}</td>
                      <td>{{ detalle_servicio.tipo_servicio }}</td>
                      <td>{{ detalle_servicio.duracion }}</td>
                      <td>{{ detalle_servicio.costoservicio }}</td>
                      <td>{{ detalle_servicio.descripcion }}</td>
                      <td>
                        <button type="button" onclick="changeURL('{{ detalle_servicio.id }}')" data-taller-pinautos="{{ detalle_servicio.id }}" class="btnEliminar btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalConf">
                          <i class="bi bi-trash"></i>
                        </button>
                        <a class="btn btn-primary" href="{% url 'detalleservicios-modificar' detalle_servicio.id %}">
                          <i class="bi bi-pencil-square"></i>
                        </a>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'js/tablas/cdn.datatables.net_responsive_2.5.0_js_dataTables.responsive.min.js'%}"></script>
  <script src="{% static 'js/tablas/responsive.js'%}"></script>
  <script src="{% static 'js/tablas/botones.js'%}"></script>
  <script src="{% static 'js/tablas/botones-bootrap.js'%}"></script>
  <script src="{% static 'js/tablas/zip.js'%}"></script>
  <script src="{% static 'js/tablas/pdfmake.js'%}"></script>
  <script src="{% static 'js/tablas/fonts.js'%}"></script>
  <script src="{% static 'js/tablas/html5.js'%}"></script>
  <script src="{% static 'js/tablas/print.js'%}"></script>
  <script src="{% static 'js/tablas/colVis.js'%}"></script>
  <script src="{% static 'js/tablas/tablas2.js'%}"></script>
{% endblock contenido %}