{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'css/partial/body.css' %}">
<body>
  
  <div class="card fondcard m-5">
    
    <h3 class="text-center m-2">Arls</h3>
    <div class="card-body">
      <a href="{% url 'arls-crear' %}" class="btn fondtable">
        <i class="bi bi-file-earmark-medical"></i> Crear {{titulo}}
      </a>
     
      <table id="example2" class="table table-striped nowrap" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre ARL</th>
            <th>Telefono ARL</th>
            <th>Correo ARL</th>
            <th>Fecha Inicio Afiliacion</th>
            <th>Fecha Vencimiento Afiliacion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for arl in arls %} {% if arl.estado != "0" %}
          {% endif %}
          <tr>
            <td>{{arl.id}}</td>
            <td>{{arl.nombre_arl}}</td>
            <td>{{arl.telefono_arl}}</td>
            <td>{{arl.correo_arl}}</td>
            <td>{{arl.fecha_inicioafi}}</td>
            <td>{{arl.fecha_vencimientoafi}}</td>
            <td>
              <button type="button" onclick="changeURL('{{arl.id}}')" data-taller-pinautos="{{arl.id}}" class="btnEliminar btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalConf">
                <i class="bi bi-trash"></i>
              </button>
              <a class="btn btn-primary" href="{% url 'arls-modificar' arl.id%}">
                <i class="bi bi-pencil-square"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'js/tablas/cdn.datatables.net_responsive_2.5.0_js_dataTables.responsive.min.js'%}"></script>
  <script src="{% static 'js/tablas/responsive.js'%}"></script>
  <script src="{% static 'js/tablas/botones.js'%}"></script>
  <script src="{% static 'js/tablas/botones-bootrap.js'%}"></script>
  <script src="{% static 'js/tablas/zip.js'%}"></script>
  <script src="{% static 'js/tablas/pdfmake.js'%}"></script>
  <script src="{% static 'js/tablas/fonts.js'%}"></script>
  <script src="{% static 'js/tablas/html5.js'%}"></script>
  <script src="{% static 'js/tablas/print.js'%}"></script>
  <script src="{% static 'js/tablas/colVis.js'%}"></script>
  <script src="{% static 'js/tablas/tablas2.js'%}"></script>
</body>
{% endblock contenido %}

