{% extends 'partials/body.html' %}
{% load static %}                 ncvaq º5V4RBT NYU<`ÇÇ+`+-+9/876
{% block contenido %}
<a href="{% url 'vehiculos-crear' %}" class="btn btn-success w-25">crear{{titulo}}</a>
<div class="card fondcard m-5">
    <h3 class="text-center m-2">Vehiculo</h3>
    <div class="card-body">
                    <table id="example2" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Placa</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Tipo de Aceite</th>
                                <th>Kilometraje</th>
                                <th>Linea</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vehiculo in vehiculos %}
                            {% if vehiculo.estado != "1" %}
                                <tr class="bg-warning">
                            {% else %}
                                <tr>
                            {% endif %}
                                <td>{{vehiculo.placa}}</td>
                                <td>{{vehiculo.marca}}</td>
                                <td>{{vehiculo.modelo}}</td>
                                <td>{{vehiculo.tipo_aceite}}*</td>
                                <td>{{vehiculo.kilometraje}}</td>
                                <td>{{vehiculo.nombre_linea}}</td>
                                <td>
                                    <button type="button" onclick="changeURL('{{vehiculo.id}}')" data-taller-pinautos="{{vehiculo.id}}" class="btnEliminar btn btn-danger"data-bs-toggle="modal" data-bs-target="#modalConf" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                    </button>
                                    <a class="btn btn-primary" href="{% url 'vehiculos-modificar' vehiculo.id%}"><i class="bi bi-pencil-square" title="Modificar"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'js/tablas/cdn.datatables.net_responsive_2.5.0_js_dataTables.responsive.min.js'%}"></script>
  <script src="{% static 'js/tablas/responsive.js'%}"></script>
  <script src="{% static 'js/tablas/botones.js'%}"></script>
  <script src="{% static 'js/tablas/botones-bootrap.js'%}"></script>
  <script src="{% static 'js/tablas/zip.js'%}"></script>
  <script src="{% static 'js/tablas/pdfmake.js'%}"></script>
  <script src="{% static 'js/tablas/fonts.js'%}"></script>
  <script src="{% static 'js/tablas/html5.js'%}"></script>
  <script src="{% static 'js/tablas/print.js'%}"></script>
  <script src="{% static 'js/tablas/colVis.js'%}"></script>
  <script src="{% static 'js/tablas/tablas2.js'%}"></script>
{% endblock contenido %}