{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
<body>
    <div class="card fondcard m-5">
        <h3 class="text-center m-2">Usuarios Del sistema</h3>
        <div class="card-body">
            <a href="{% url 'usuarios-crear' %}" class="btn fondtable">
                <i class="bi bi-file-earmark-medical"></i> Crear {{titulo}}
              </a>
            <table id="example" class="table table-striped nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Tipo Identificacion</th>
                        <th>Identificacion</th>
                        <th>Tipo De usuario</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Nombre De Usuario</th>
                        <th>Fecha Registro</th>
                        <th>Direccion</th>
                        <th>Rh</th>
                        <th>ARl</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}{% if usuario.estado != "1" %}
                    {% endif %}
                    <tr>
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.nombres}}</td>
                        <td>{{usuario.apellidos}}</td>
                        <td>{{usuario.tipo_identificacion}}</td>
                        <td>{{usuario.identificacion}}</td>
                        <td>{{usuario.tipo_usuario}}</td>
                        <td>{{usuario.telefono}}</td>
                        <td>{{usuario.correo_personal}}</td>
                        <td>{{usuario.nombreusuario}}</td>
                        <td>{{usuario.fecha_registro}}</td>
                        <td>{{usuario.direccion}}</td>
                        <td>{{usuario.rh }}</td>
                        <td>{{usuario.arl.nombre_arl}}</td>
                        <td>
                            <button type="button" onclick="changeURL('{{usuario.id}}')" data-taller-pinautos="{{usuario.id}}" class="btnEliminar btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalConf">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                            <a class="btn btn-primary" href="{% url 'usuarios-modificar' usuario.id %}">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'js/tablas/cdn.datatables.net_responsive_2.5.0_js_dataTables.responsive.min.js'%}"></script>
    <script src="{% static 'js/tablas/responsive.js'%}"></script>
    <script src="{% static 'js/tablas/botones.js'%}"></script>
    <script src="{% static 'js/tablas/botones-bootrap.js'%}"></script>
    <script src="{% static 'js/tablas/zip.js'%}"></script>
    <script src="{% static 'js/tablas/pdfmake.js'%}"></script>
    <script src="{% static 'js/tablas/fonts.js'%}"></script>
    <script src="{% static 'js/tablas/html5.js'%}"></script>
    <script src="{% static 'js/tablas/print.js'%}"></script>
    <script src="{% static 'js/tablas/colVis.js'%}"></script>
    <script src="{% static 'js/tablas/tablas.js'%}"></script>
    <script src="{% static 'js/tablas/tablas2.js'%}"></script>
</body>
{% endblock contenido %}
