{% extends 'partials/body-login.html'%}
{% load static %}
{% load django_bootstrap5 %}
{% block contenido %}
<html>
    <head>
        <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/login/logi.css' %}">
    </head>
    <body>
        <section class="my-4 ">
            <div class="container w-75 fondlogin  mr-5 rounded shadow ">
                <div class="row align-items-stretch ">
                    <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 imagenlogin img-fluid"></div>
                    <div class="col p-5 rounded-end">
                        <div class="text-end">
                            <a href="{% url 'Manualayudalogin' %}" class=" text-decoration-none m-4 textcolor"><i class="bi bi-question-circle-fill"></i></a>
                        </div>
                        <h2 class="fw-bold text-center py-5 textlogin">Bienvenido Taller Automotriz Pinautos</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-text fondlogin">
                                    <i class="bi bi-person-circle textlogin "></i>
                                </div>
                                <input type="text" name="{{ form.username.name }}" class="form-control" placeholder="Usuario">
                                <div class="input-group-append">
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-text fondlogin">
                                    <i class="bi bi-lock-fill textlogin"></i>
                                </div>
                                <input type="password" name="{{ form.password.name }}" class="form-control" placeholder="Contraseña">
                                <div class="input-group-append">
                                </div>
                            </div>
                            
                                <div>
                                    <input type="checkbox" name="{{ form.RememberMeCheckbox.name }}" id="remember">
                                    <label for="remember" class="fw-bold textlogin"> Recuérdame</label>
                                </div>
                                <div >
                                    <p class="mb-1 text-center fw-bold">
                                        <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                                    </p>
                                </div>
                           
                            <div>
                                <input type="checkbox" name="{{ form.RememberMeCheckbox.name }}" class="terms-checkbox">
                                <label for="{{ form.RememberMeCheckbox.name }}" class="fw-bold textlogin">He leido y acepto los</label>
                                <a href="{% url 'Terminos&Condiciones' %}" target="_blank"class="fw-bold textlogin text-decoration-none text-primary">Terminos y Condiciones</a>
                            </div>
                                <div class=" text-center m-5">
                                    <button type="submit" class=" btn btn-primary btn-block fw-bold">Inicia Sesión </button>
                                </div>
                        </form>
                        {% if form.non_field_errors %}
                        <div class="alert alert-custom" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}
                        {% if form.username.errors %}
                        <div class="alert alert-custom" role="alert">
                            {{ form.username.errors }}
                        </div>
                        {% endif %}
                        {% if form.password.errors %}
                        <div class="alert alert-custom" role="alert">
                            {{ form.password.errors }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>    
        </section>
        <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'js/login/termsandConditions.js' %}"></script>
    </body>
</html>
{% endblock contenido %}