{% extends 'partials/body-login.html' %} 
{% load static %} 
{% block contenido %}
<html>
  <head>
    <link rel="stylesheet" href={% static 'css/login/mail.css' %}>
  </head>
  <body>
    <div class="container d-flex align-items-center justify-content-center" >
      <div class="col-md-6 mt-5">
        <div class="card gris fundcard">
          <div class="card-body gris">
            <h1 class="card-title text-center lettercard m-3">Taller Automotriz Pinautos</h1>
            <img src="{% static 'img/logos/Recordarcontraseña.png' %} " alt="" class="mx-auto d-block mb-4">
            <h6 class="card-subtitle mb-4 text-center letter">Revisa tu correo electrónico para restablecer tu contraseña.</h6>
              <div class="row justify-content-center">
                <div class="col-2 m-3">
                  <a href="{% url 'login' %}" class="btn btn-primary">Volver <i class="bi bi-arrow-return-left"></i></a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
{% endblock contenido %}