{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}
<html>
  <head>
    <link rel="stylesheet" href={% static 'css/login/mail.css' %}>
  </head>
  <body>
    <div class="container d-flex justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="card gris fundcard">
          <div class="card-body gris">
            <h1 class="card-title text-center lettercard">Taller Automotriz Pinautos</h1>
            <img src="{% static 'img/logos/Recordarcontraseña.png' %}" alt="" class="mx-auto d-block mb-4">
            <h6 class="card-subtitle mb-4 text-center letter">Ingresa tu dirección de correo electrónico para recibir un enlace para restablecer la contraseña.</h6>
            <form method="post">
              {% csrf_token %}
              {% if messages %}
                <div class="alert alert-danger">
                  {{ messages }}
                </div>
              {% endif %}
              <div class="input-group mb-3">
                <input type="email" name="{{ form.email.name }}" class="form-control text-center" placeholder="Correo Electrónico" required>
                <div class="input-group-append fundcard">
                  <div class="input-group-text lettercard">
                    <i class="bi bi-envelope-fill"></i>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-2 m-3">
                  <a href="{% url 'login' %}" class="btn btn-primary">Volver <i class="bi bi-arrow-return-left"></i></a>
                </div>
                <div class="col-2 m-3">
                  <button type="submit" class="btn enviar">Enviar  <i class="bi bi-send-fill"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock contenido %}