{% extends 'partials/body-login.html' %} 
{% load static %} {% block contenido %}
<html> 
    <head>
    <link rel="stylesheet" href="{% static 'css/login/mail.css'%}">
    </head>
    <body>
        <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-md-6">
                <div class="card gris fundcard">
                    <div class="card-body gris">
                        <h1 class="card-title text-center lettercard m-3">Taller Automotriz Pinautos</h1>
                        <img src="{% static 'img/logos/Recordarcontraseña.png' %}" alt="" class="mx-auto d-block mb-4">
                        <h6 class="card-subtitle mb-4 text-center letter">Tu contraseña ha sido cambiada satisfactoriamente.</h6>
                        <div class="row justify-content-center">
                            <div class="col-3 m-3">
                                <a href="{% url 'login' %}" class="btn btn-primary">Inicio De Sesion<i class="bi bi-file-earmark-lock2-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock contenido %}
