.space {
    margin-top:116px; 
  }
  @media (max-width: 768px) {
    
    .space {
      margin-top: 188px;
    }
  }
body.theme-light {
  .fondcard,
  .colortextcolumn{
    background-color: #e0d8b3;
    color: #333333;
  }
  
}
body.theme-dark {
  .fondcard,
  .colortextcolumn{
    background-color: #181818;
    color: #ffffff;
  }
}  
