.estatico {
    position: fixed; 
    top: 0;  
    width: 100%; 
    z-index: 9999;  
  }
  
  .navbar-collapse {
    justify-content: center !important;
  }
  .fondoheader {
    background-color: #181818;
  }