{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
<a href="{% url 'citas-crear' %}" class="btn btn-success w-25">Crear {{ titulo }}</a>
<div class="card fondcard m-5">
  <h3 class="text-center m-2">Citas</h3>
  <div class="card-body">
          <table id="example2" class="table table-striped" style="width: 100%">
            <thead>
              <tr>
                <th>Placa</th>
                <th>Fecha Cita</th>
                <th>Hora Cita</th>
                <th>Contacto</th>
                <th>Descripcion</th>
                <th>Nombre Servicio</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for cita in citas %}
                {% if cita.estado != "0" %}
                  <tr>
                    <td>{{ cita.placa }}</td>
                    <td>{{ cita.fecha_cita }}</td>
                    <td>{{ cita.hora_cita }}</td>
                    <td>{{ cita.contacto }}</td>
                    <td>{{ cita.descripcion_cita }}</td>
                    <td>{{ cita.nombreservicios }}</td>
                    <td>{{ cita.estado_cita }}</td>
                    <td>
                      <button type="button" onclick="changeURL('{{ cita.id }}')" data-taller-pinautos="{{ cita.id }}" class="btnEliminar btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalConf">
                        <i class="bi bi-trash"></i>
                      </button>
                      <a class="btn btn-primary" href="{% url 'citas-modificar' cita.id %}">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'js/tablas/cdn.datatables.net_responsive_2.5.0_js_dataTables.responsive.min.js'%}"></script>
<script src="{% static 'js/tablas/responsive.js'%}"></script>
<script src="{% static 'js/tablas/botones.js'%}"></script>
<script src="{% static 'js/tablas/botones-bootrap.js'%}"></script>
<script src="{% static 'js/tablas/zip.js'%}"></script>
<script src="{% static 'js/tablas/pdfmake.js'%}"></script>
<script src="{% static 'js/tablas/fonts.js'%}"></script>
<script src="{% static 'js/tablas/html5.js'%}"></script>
<script src="{% static 'js/tablas/print.js'%}"></script>
<script src="{% static 'js/tablas/colVis.js'%}"></script>
<script src="{% static 'js/tablas/tablas2.js'%}"></script>
{% endblock contenido %}