{% load static %}
<html lang="es">
    <head>
        <link rel="stylesheet" href="{% static 'css/homepage/whatsappbutton.css' %}">
    </head>
    <body>
        <section>
            <a href="https://api.whatsapp.com/send?phone=573103458024" target="_back" class="whatsapp-bnt">
                <i class="bi bi-whatsapp"></i>
                <div class="joinchat_tooltip"><i class="bi bi-person-circle"></i>
                    <div class="text">¿podemos ayudarte? </div>
                </div>
            </a>
        </section>
    </body>
</html>